.auth__body,
.auth__main,
.auth__form li,
.auth__form-submit,
.auth__form-checkbox {
	display: flex;
}

.auth__body,
.auth__form li,
.auth__form-submit,
.auth__form-checkbox {
	align-items: center;
}


.auth__form,
.auth__form input {
	border: 2px solid var(--color-gray);
}

.auth__main {
	justify-content: space-between;
	gap: 100px;
}

.auth__wrap-text {
	width: 50%;
}

.auth__title {
	font-size: calc(var(--font-size) * 2);
	margin-block-end: calc(var(--font-size) * 1.25);

	span {
		font-family: var(--font-family-alt);
		font-size: calc(var(--font-size) * 2.625);
		color: var(--color-accent);
	}
}

.auth__text {
	line-height: calc(var(--line-height) * 1.172);
}

.auth__form {
	width: 35%;
	padding: 30px;
	border-radius: var(--border-radius-large);

	&-title {
		font-size: calc(var(--font-size) * 2);
		margin-block-end: calc(var(--font-size) * 1.5);
		text-align: center;
	}

	p {
		position: relative;
		margin-block-end: calc(var(--font-size) * 1.5);

		input {
			width: 100%;
			height: calc(var(--font-size) * 3);
			border-radius: var(--border-radius-small);
			padding-inline: 15px;
			background-color: transparent;

			&::placeholder {
				color: var(--color-dark-theme);
			}
		}

		span {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 15px;
		}
	}

	p:last-of-type {
		margin: 0;
		text-align: center;

		a {
			margin-inline-start: 5px;
		}
	}

	fieldset {
		border: none;
		padding: 0;
		margin: 0;
		margin-block-end: calc(var(--font-size) * 0.3125);
		border-bottom: 1px solid var(--color-gray);

		legend {
			margin-block-end: calc(var(--font-size) * 0.625);
		}

		ul {
			margin: 0;
			padding: 0;

			li {
				margin-block-end: calc(var(--font-size) * 0.625);
				gap: 10px;

				input {
					margin: 0;
					accent-color: var(--color-accent);
				}
			}
		}
	}

	a {
		color: var(--color-accent);
	}

	&-submit {
		justify-content: center;
		width: 100%;
		height: calc(var(--font-size) * 3);
		border-radius: var(--border-radius);
		background-color: var(--color-accent);
		border: none;
		color: var(--color-light-theme);
		margin-block-end: calc(var(--font-size) * 0.625);
	}
}

.auth__form .auth__form-checkbox {
	gap: 10px;
	margin-block-end: calc(var(--font-size) * 0.625);

	input#remember {
		width: 15px;
		height: 15px;
		margin: 0;
		accent-color: var(--color-accent);
	}
}