.login__body {
	display: flex;
	align-items: center;
}

.login__main {
	color: var(--color-dark-theme);
	background-color: var(--color-light-theme-theme);
	display: flex;
	gap: 100px;
}

.login__wrap {
	width: 50%;
}

.login__title {
	font-size: calc(var(--font-size) * 2);
	margin-block-end: calc(var(--font-size) * 1.25);

	span {
		font-family: var(--font-family-alt);
		font-size: calc(var(--font-size) * 2.625);
	}
}

.login__form {
	width: 50%;
}

.login__form-title {
	font-size: calc(var(--font-size) * 1.5);
}