body {
	font-family: var(--font-family-base);
	font-size: var(--font-size);
	font-weight: 400;
	line-height: var(--line-height);
	color: var(--color-dark-theme);
	background-color: var(--color-light-theme);
}