:root {
	--font-family-base: "Ubuntu", sans-serif;
	--font-family-alt: "Permanent Marker", cursive;
	--font-size: 1rem;
	--line-height: 1.28;

	--color-dark-theme: #141414;
	--color-light-theme: #ffffff;
	--color-accent: #703BF7;
	--color-gray: #262626;

	--border-radius: 12px;
	--border-radius-small: 8px;
	--border-radius-large: 16px;

	--container-width: 1240px;
	--container-padding-x: 20px;

	--transition-duration: 0.3s;
}